body {
    font-family: Arial, sans-serif;
    background-color: #3A3C56;
    text-align: center;
    margin: 0;
    padding: 20px;
}
.container{
    margin: auto;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #9699C3;
    border-radius: 22.5px;
}

.catalog{
    width: 425px;
    height: 800px;
}

#query{
    width: 260px;
    margin-right: 100%;
    background: #9699C3;
}

.cardCatalog{
    width: 95%;
    height: 95%;
    margin-top: 1%;
    border-radius: 6px;
    background: #202136;
}

.userProfile{
    top: 0px;
    right: 0px;
}
#avatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}