p{
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    gap: 10px;
    overflow: hidden;
}

.banner{
    background-color: #202136;
    height: 50px;
    border-radius: 22.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.bannerText{
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
}

.userProfile{
    display: flex;
    align-items: center;
    height: 90%;
}

.avatar{
    border: 5px solid #9699C3;
    border-radius: 50%;
    max-height: 75%;
}


.contentWrapper {
    margin-left: 1%;
    flex: 1; /* Take up remaining space */
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 0 1em;
    overflow: hidden;
    min-height: 0; /* Allow content to shrink if needed */
}

.user{
    display:grid;
    grid-template-rows: 3fr 7fr;
    gap: 1em;
}

.enlargedAvatar{
    border: 5px solid #9699C3;
    border-radius: 50%;
    justify-self: center;
}


.settings{
    background: #202136;
    border-radius: 6px;
    height: 100%;
}

.collections{
    border-radius: 6px;
    background: #202136;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    row-gap: 1em;
    overflow-y: scroll;
}