p{
    color: #ffffff;
}

input {
    max-width: 40%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #202136;
    background-color: #9699C3;
}

button{
    max-width: 30%;
    height: 2em;
}

span{
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    gap: 10px;
    overflow: hidden;
}

.banner{
    background-color: #202136;
    height: 50px;
    border-radius: 22.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.bannerText{
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
}

.userProfile{
    display: flex;
    align-items: center;
    height: 90%;
}

.avatar{
    border: 5px solid #9699C3;
    border-radius: 50%;
    max-height: 75%;
}


.contentWrapper {
    margin-left: 1%;
    flex: 1; /* Take up remaining space */
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 0 1em;
    overflow: hidden;
    min-height: 0; /* Allow content to shrink if needed */
}

.user{
    display:grid;
    grid-template-rows: 3fr 7fr;
    gap: 1em;
}

.enlargedAvatar{
    border: 5px solid #9699C3;
    border-radius: 50%;
    justify-self: center;
    width: 220px;
    height: 220px;
}

.collections{
    border-radius: 6px;
    background: #202136;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    row-gap: 1em;
    overflow-y: scroll;
}

.settings{
    background: #202136;
    border-radius: 6px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 2.5fr 2.5fr 2.5fr 2.5fr;
}

.changeNameText{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: left;
    align-self: center;
}

.changeName{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
}

.submitName{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: right;
    align-self: center;
}

.changePasswordText{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: left;
    align-self: center;
}

.changePassword{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
}

.submitPassword{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: right;
    align-self: center;
}

.changeEmailText{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: left;
    align-self: center;
}

.changeEmail{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
}

.submitEmail{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: right;
    align-self: center;
}

.browse{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
}

.changeProfile{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: left;
    align-self: center;
}